*{margin: 0;padding: 0;box-sizing: border-box;}
html{font-size: 100px;}
body{background: white;}
/*顶部轮播*/
.slider-contain{padding: .1rem;background: white;padding-bottom: 0;}
.slider-title{font-size: .16rem;font-weight: bold;margin-bottom: .05rem;}
/*类型列表*/
.type-contain{display: flex;align-items: center;flex-wrap: nowrap;overflow-x: scroll;padding:.05rem 0;background: #F5F5F5;}
.type-contain::-webkit-scrollbar{height: 0px;}
.type-item{position: relative;flex: 1;padding: 0 .1rem; text-align: center;font-size: .16rem;white-space: nowrap;color: #AAA;}
.type-active{color: #333;font-weight: bold;}
.type-active:after{content: "";position: absolute;width: .1rem;height:2px;background: #333;bottom: -.05rem;left: 50%;transform: translateX(-50%); }
/*专家列表*/
.grid-contain{display: grid;grid-template-columns: 1fr 1fr 1fr;grid-gap: .05rem;padding:.05rem;font-size: .15rem;position: relative;}
.grid-contain span{position: absolute;top: .1rem;left: 50%;transform: translateX(-50%);}
.grid-item img{display: block; width: 100%;max-height: 1.5rem;max-width: 1.15rem; border-radius: 5px;margin: 0 auto;}
.expert-name{font-weight: bold;color: #333;}
.expert-info{font-size: .14rem;color: #AAA;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 1.15rem;}


.bottom-padding{height: 50px;}
/*修改mui*/
.mui-slider{border-radius: 5px;}
#slider{padding-bottom: .2rem;}
#slider .mui-slider-indicator{bottom: 0;}
.mui-slider-indicator .mui-indicator{width: 4px;height: 4px;}
.mui-slider .mui-slider-group .mui-slider-item img{border-radius: 5px;}